<div style="float: left; width: 20%;><h1>Editing entry</h1>

<%= render 'form' %>

<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %>
            </div>

            
            <iframe src="http://www.moscowfood.coop/new-gallery-1/" style="float:right; border:none; height: 800px; max-height: 100%; width: 80%"></iframe>