<h1>New entry</h1>

<%= render 'form' %>

<%= link_to 'Back', entries_path %>

<iframe src="http://www.moscowfood.coop/new-gallery-1/" style="position: absolute; top: 0px; right: 0px; border:none; height: 800px; max-height: 100%; width: 80%"></iframe>